######################## Filebeat Configuration ##############################

#=========================== Filebeat inputs =================================
filebeat.inputs:
- type: log
  enabled: true
  paths:
{% for path in filebeat_inputs_paths_logs %}
    - {{ path }}
{% endfor %}

- type: log
  enabled: true
  json.keys_under_root: true
  json.add_error_key: true
  paths:
{% for path in filebeat_inputs_paths_json %}
    - {{ path }}
{% endfor %}

#==========================  Modules configuration ===========================
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

#-------------------------- Elasticsearch output -------------------------------
output.elasticsearch:
  enabled: true
  hosts: ["{{ groups['elk'][0] }}:9200"]
#  index: "logstash-%{+yyyy.MM.dd}"
#setup.template.name: "logstash"
#setup.template.pattern: "logstash-*"

#==================== Elasticsearch template setting ==========================
setup.template.settings:
  index.number_of_shards: 3
  #index.codec: best_compression
  #_source.enabled: false

#============================== Kibana =====================================
setup.kibana:
   host: "{{ groups['elk'][0] }}:5601"

        # Use SSL settings for HTTPS. Default is true.

ssl.enabled: false

#============================== Dashboards =====================================
setup.dashboards.enabled: true
#setup.dashboards.index: "logstash-*"
setup.dashboards.always_kibana: true

#================================ Processors =====================================
# Configure processors to enhance or manipulate events generated by the beat.
processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~

#================================ Logging ======================================
# Available log levels are: error, warning, info, debug
#logging.level: debug

logging.to_files: true
logging.files:
  path: /var/log/filebeat
  name: filebeat
  rotateeverybytes: 104857600 # = 100MB
  keepfiles: 7
  permissions: 0600
